@CHARSET "UTF-8";
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSGaeulSenggak20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	 font-family: 'IBMPlexSansKR-Regular';
}

#subject{
   font-size:150%; 
   font-weight:bold;
   letter-spacing:15px;
   word-spacing:5px;
   margin: 0px 0 5px 10px;
}
#intro{
	font-size:200%;
	margin:70px 0 40px 0;
}
#intro #modifyInfo{
	margin-top:15px;
	font-size:60%;
}
#intro #modifyInfo a{
	font-size:90%;
	color:#b3b1b1;
}
.line{
	border-bottom:4px solid black;
	margin: 20px;
}
.divider{border-bottom:1px solid #c2c2c3;	margin:20px;}

#menu{
   float:left; 
   width:200px;
   margin-left:50px;
   margin-top:40px;
   text-align:left;
}
#menu ul{
	all: unset; 
	display:block;
	margin: 50px 0 0 10px;
}
#menu li{
	all: unset; 
	display:block;
	line-height:35px;
}
#menu li a,#menu li a:visited{
	color:black;
}
#menu .menuTitle{
	font-size:150%;
	
}

#adminpage{
	float:left;
	width:1000px;
	margin:0 auto;
	padding:20px;
}


#sub{
	padding:30px;
}
#sub table{margin:30px 50px;} 
.subheading{
   text-align:left;
   font-size:130%;
   margin: 0 40px 40px 40px;
}

#condition{margin-top:30px;}
#searchType{
	padding: 7px 12px;
	border: 1px solid #dadada;
	border-radius:20px;
}
#keyword{
	width:400px; padding:7px 10px; margin-left:5px;
	border:none;
	border-bottom:1px solid #dadada;
}


#tbl_user, #campList, #tblShop{width:900px; margin:20px auto;}
#tbl_user th,td, #campList th, td, #tblShop th{
	text-align:center;
	border-bottom:1px solid gray;
	font-size:90%;
}
#tbl_user th,#campList th,#tblShop th{border-top:2px solid black; padding:6px;}
#tbl_user td,#campList td,#tblShop td{padding:20px;}

#newInsert{
   border:none;
   float:left;
   width:120px;
   padding:10px 15px;
   background-color:black;
   font-size:100%;
   color:white;
   margin:30px 0 10px 50px;
   }
#newInsert a, #newInsert a:visited{color:white;}

/* shopList.jsp */
#tblShop button{border:none; font-weight:bold;}
#tblShop .minus{padding:3px 10px;}
#tblShop .plus{padding:3px 8px;}
#tblShop .prod_qty{display:inline-block;text-align:center; width:25px;}
#tblShop .change{width:60px;padding:3px; margin-left:10px;
	background-color:white;
	font-size:100%;
	color:black;
	border:1px solid black;
}
#tblShop .prod_hide{width:60px; padding:3px;}
#shopInsert{
   border:none;
   float:left;
   width:90px;
   padding:10px 15px;
   background-color:black;
   font-size:100%;
   color:white;
   margin:20px 0 10px 50px;
   }
#shopInsert a, #shopInsert a:visited{color:white;}

/* userRead.jsp */
#tbl_body1{width:800px; margin:5px auto;}
#tbl_body1 input{border:none;}
#tbl_body1 .tbl_head{padding-right:30px;}
#tbl_body1 td{border:none;padding:20px 0;border-bottom:1px solid #c2c2c3;}

.whiteBtn{
	font-size:85%;
	padding:7px 25px;
	background-color:white;
	color:black;
	border:1px solid black;

}
.blackBtn{
	font-size:85%;
	padding:8px 26px;
	background-color:black;
	color:white;
	border:none;
	margin-top:5px;
}


/* campingUpdate.jsp */
.divider{ width:800px; border-bottom:1px solid #c2c2c3; margin:30px;}
.tbl_body1{width:830px; margin: 0px auto;
	margin-bottom: 20px;}
.tbl_body1 .tbl_head{width:170px; padding:10px;}
.tbl_body1 td{padding:10px; border-bottom:1px solid #c2c2c3;}
.tbl_data input{
	width: 100%;
	border:none;
	}
.tbl_body1 textarea{border:none; padding:30px 0; }

.tbl_body2{width:820px; margin: 0px auto; border:3px solid #c2c2c3; margin-top:50px;}
.tbl_body2 .tbl_head2{width:150px; padding:10px;}
.tbl_body2 td{padding:10px; border-bottom:1px solid #c2c2c3;}
.tbl_body2 .tbl_data2{padding:30px;}
.tbl_body2 .facilities{padding:5px 10px; background-color:black; color:white; border:none; border-radius:7px;}


.tbl_body3{width:820px; margin: 0px auto; border:3px solid #c2c2c3; margin-top:30px;margin-bottom:40px; padding:20px;}
.tbl_head3{	padding: 10px;}
.tbl_body3 td{border:1px solid #c2c2c3;}
.tbl_data3{	padding: 10px;	border:1px solid #c2c2c3;}
.tbl_data3 input{	width: 100%;border:none;	}


/* /shop/update.jsp */
#productUpdate{text-align:center; width:900px; margin:0 auto; }
#productUpdate .title{text-align:left;display:inline-block; width:100px; font-weight:bold;}
#productUpdate input[type=text]{border:none; width:300px; border-bottom:1px solid #c2c2c3; padding:20px 10px;}
#productUpdate #detail input{padding:10px; margin-left:100px;}
#productUpdate input[type=submit]{width:360px; padding:20px 20px; margin-top:30px;font-size:110%;}


/* /shop/insert.jsp */
#productInsert{text-align:center; width:1000px; margin:0 auto; }
#productInsert .title{text-align:left;display:inline-block; width:100px; font-weight:bold;}
#productInsert input[type=text]{border:none; width:300px; border-bottom:1px solid #c2c2c3; padding:20px 10px; margin:10px;}
#productInsert #detail{width:900px;height:200px; padding:10px; margin:20px;}
#productInsert #photo, #image{padding:10px; margin:20px;}
#productInsert input[type=submit]{width:360px; padding:20px 20px; margin-top:30px;font-size:110%;}

/* adminChat.jsp*/

#chatBox{width:900px; margin:20px auto;border:1px solid gray;}
#chatBox th, #chatBox td{
	text-align:center;
	border-bottom:1px solid gray;
	font-size:90%;
}
#chatBox th{border-top:2px solid black; padding:6px;}
#chatBox td{padding:20px;}

#mycamping .subcontent{
	margin-left:200px;
}
#mycamping #btnSearch{
	margin-top:10px;
	font-size:85%;
	padding:10px 35px;
	background-color:black;
	color:white;
	border:none;
}



.campingInfo{
	float:left;
	width:500px;
	margin:30px 0 0 30px;
	border: 1px solid black;
	padding:20px;
	text-align:left;
}
.campingInfo .title{
	font-size:170%;
	font-weight:bold;
}
.campingInfo .etc, .campingInfo .detail{margin-top:10px;}
.campingInfo .price{
	font-size:120%;
	margin:30px 0 0 300px;
}
.btnBook{
	margin-top:10px;
	font-size:85%;
	padding:7px 25px;
	background-color:black;
	color:white;
	border:none;
	margin-left:310px;
}
#infoimg{
	float:left;
	margin:30px 0 0 30px;
}


#condition{text-align:left; margin-left:50px;}
#condition input[type=text]{width:500px; padding:10px;}
.myshop{
	padding:20px;
	text-align:left;
	margin-left:30px;
}

.orderbox{
	text-align:left;
 	border: 1px solid #c2c2c3;
 	padding:20px;
 }
.orderbox .status{font-size:150%; font-weight:bold;}
.orderbox .image{float:left;}
.orderbox .orderBtn{float:left;}

.whiteBtn{
	font-size:85%;
	padding:7px 25px;
	background-color:white;
	color:black;
	border:1px solid black;

}
.blackBtn{
	font-size:85%;
	padding:8px 26px;
	background-color:black;
	color:white;
	border:none;
	margin-top:5px;
}

.orderbox .orderinfo{float:left; width:500px; margin-left:30px;}
.orderinfo .title{font-size:120%;}
.orderinfo .price{margin-top:70px; font-size:120%; font-weight:bold;}


#checkfrm{
	text-align:left;
	margin:80px 50px;}
#checkfrm .inputs{
	display:inline-block;
	width:150px; 
	padding:10px; 
	font-size:120%; font-weight:bold;
	}
#checkfrm input[type=text],#checkfrm input[type=password]{
	margin:15px; padding:5px; width:400px;
	border:none; border-bottom:1px solid #c2c2c3;
}
#checkfrmBtns{margin-top:30px; margin-left:10px;}
#checkfrmBtns input{margin:5px; padding:15px 125px;}


#frm{
	text-align:left;
	margin:50px;
}
#frm .frmTitle{font-weight:bold; font-size:115%; margin-top:15px; margin-left:20px;}
#frm input[type=text],#frm input[type=password],#frm input[type=email]{
	margin:15px; padding:5px; width:400px;
	border:none; border-bottom:1px solid #c2c2c3;
}
#frmBtns{margin:20px 10px;}
#frmBtns input{margin:5px; padding:13px 86px;}



#tblCart{width:1000px; margin:35px;}
#tblCart th{text-align:center; border-bottom: 1px solid #c2c2c3; padding:7px;}
#tblCart th:nth-child(1){text-align:left;}
#tblCart td{padding:10px 7px;}
#tblCart td:nth-child(5),#tblCart td:nth-child(6){text-align:center;}
#tblCart .title{font-size:88%;}
.quantityBox{width:87px; border:1px solid #dadada;}
.quantityBox button{border:none; font-weight:bold;}
.quantityBox .minus{padding:3px 10px;}
.quantityBox .plus{padding:3px 8px;}
.quantityBox .quantity{display:inline-block;text-align:center; width:25px;}