@CHARSET "UTF-8";


@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSGaeulSenggak20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	 font-family: 'IBMPlexSansKR-Regular';
}
#container{
	
	min-height:100%;
   position:relative;
   padding-bottom:100px;/* footer height */
}

#header {

	z-index:11;
	height:150px;
	position:sticky;
	background:white;
	overflow:hidden;
	display:flex;
			justify-content:center;
			align-items:center;
			  box-shadow : 0 0px 5px gray;
}
.container-fluid{
	
display:flex;
			justify-content:center;
			align-content:center;	
}
.navbar{
	background:white;
	margin:0;
}

.navbar-header #logo{
	font-family: 'HSGaeulSenggak20';
	margin-top:12px;
	font-size:30px;
	letter-spacing:1.1px;
	
}
#center{
position:scroll;
overflow: hidden;



}
#content {
	
z-index:-1;
	margin:0 auto;
text-align:center;

}
#header div {
	margin-top:20px;
	font-size:20px;
	display: flex;
	height:90px;
	align-items: center;
	
}
#header div input {
	
	width:200px;
}




#menus {
	justify-content: right;
	height: 60px;
	margin:20px;
}

#menus a, #menus a:visited {
	color:black;
	font-weight:bold;
}
.container-fluid{
	background:white;
}
.navbar{
	border:none;
}
#menus div {
	margin-right: 30px;
}

.modal-body {
	position: relative;
	border:1px solid lightgray;
	margin:10px;
}
.modal-footer{
	display:flex;
	justify-content:center;
}
.modal-backdrop{
	position:static;
}


hr{
	border:1px solid lightgray;
}


/* 테마 검색 */
#myModal3{
	z-index: 6;
	
}
#myModal3 h1,h3,p{
	text-align:left;

	font-weight:bold;
}
#myModal3 h1{
	font-size:210%;
}
#myModal3 p{
	font-size:90%;
	color:gray;

}
#myModal3 h3{
	font-size:155%;
}

/* BTN */
.btn-search {
    display: flex;
    align-items: center;
    height: 34px;
    padding: 0 12px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    line-height: 1.5;
    text-align: center;
   
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
   
  }
  .btn-search:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .07);
  }
  .btn-search.btn--primary {
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
  }
  

#login_join_imoticon a, #login_join_imoticon a:visited{
	display:inline-block;
	margin-left:15px;
	color:gray;
	font-size:12px;
	letter-spacing:1.3px;
} 
#login_join_imoticon a span, #logout span{
	color:gray;
	margin-right:3px;
	font-size:20px;
}
#logout{
	color:gray;
	letter-spacing:1.1px;
}
#footer{
	width:100%;
	height:50px;
		 display: flex;
    align-items: center;
    justify-content:space-between;
	position:fixed;
	bottom:0px;
	overflow:hidden;
	background:white;
}
#footer p{
	text-align:center !important;
	font-size:16px;
	margin-top:10px;
}
#footer2{
	width:100%;
	height:40px;
		 display: flex;
    align-content: center;
    justify-content:space-between;
	position:fixed;
bottom:0;
	background:black;
	padding:20px;
}
#footer2 p{
   color:white;
	 align-items: center;
    justify-content:center;
	display:flex;
	font-size:16px;
}