@CHARSET "UTF-8";

#content {
	text-align: center;
}

#header {
	height:50px;
	position:sticky;
}

#header div {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header div:nth-child(1) {
	justify-content: left;
}

#header div:nth-child(2) div {
	margin: 5px;
}

#header div:nth-child(3) {
	justify-content: right;
	height: 60px;
}
.container-fluid{
	background:white;
}
.navbar{
	border:none;
}
#menus div {
	margin-right: 20px;
}

.modal-body {
	position: relative;
}

ul{
	
	display:flex;
	list-style: none;
	justify-content:left;

	flex-flow:row wrap;
	padding:0px;
	padding-left:34px;
}
ul li{
	width:100px;
	height:50px;
	display:inline-block;
		display:flex;
			justify-content:center;
			align-items:center;
}
ul li:hover{
background:black;
color:white;

}
hr{
	border:1px solid lightgray;
}