@CHARSET "UTF-8";
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSGaeulSenggak20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	 font-family: 'IBMPlexSansKR-Regular';
}

#subject{
	font-size:150%; 
	font-weight:bold;
	letter-spacing:15px;
	word-spacing:5px;
	margin: 30px 0 5px 10px;
}
#intro{
	font-size:200%;
	margin:70px 0 40px 0;
}
#intro #modifyInfo{
	margin-top:15px;
	font-size:60%;
}
#intro #modifyInfo a{
	font-size:90%;
	color:#b3b1b1;
}
.line{
	border-bottom:4px solid black;
	margin: 20px;
}

#mypage{
	width:1000px;
	margin:0 auto;
	padding:20px;
}

#menu{
	float:left; 
	margin-top:40px;
	text-align:left;
}
#menu ul{
	all: unset; 
	display:block;
	margin: 50px 0 0 10px;
}
#menu li{
	all: unset; 
	display:block;
	line-height:35px;
}
#menu li a,#menu li a:visited{
	color:black;
}
#menu .menuTitle{
	font-size:150%;
	
}


#sub{
	padding:30px;
}
.subheading{
	text-align:left;
	font-size:130%;
	margin:50px;
}
#mycamping .subcontent{
	margin-left:200px;
}
#mycamping #btnSearch{
	margin-top:10px;
	font-size:85%;
	padding:10px 35px;
	background-color:black;
	color:white;
	border:none;
}



.campingInfo{
	float:left;
	width:500px;
	margin:30px 0 0 30px;
	border: 1px solid black;
	padding:20px;
	text-align:left;
}
.campingInfo .title{
	font-size:170%;
	font-weight:bold;
}
.campingInfo .etc, .campingInfo .detail{margin-top:10px;}
.campingInfo .price{
	font-size:120%;
	margin:30px 0 0 300px;
}
.btnBook{
	margin-top:10px;
	font-size:85%;
	padding:7px 25px;
	background-color:black;
	color:white;
	border:none;
	margin-left:310px;
}
#infoimg{
	float:left;
	margin:30px 0 0 30px;
}


#condition{text-align:left; margin-left:50px;}
#condition input[type=text]{width:500px; padding:10px;}
.myshop{
	padding:30px;
	text-align:left;
}

.divider{border-bottom:1px solid #c2c2c3;	margin:30px;}
.orderbox{
	text-align:left;
 	border: 1px solid #c2c2c3;
 	padding:20px;
 }
.orderbox .status{font-size:150%; font-weight:bold;}
.orderbox .image{float:left;}
.orderbox .orderBtn{float:left;}
.orderBtn button{
	font-size:85%;
	padding:7px 25px;
	background-color:black;
	color:white;
	border:none;
}
.orderbox .orderinfo{float:left; width:500px; margin-left:30px;}
.orderinfo .title{font-size:120%;}
.orderinfo .price{margin-top:70px; font-size:120%; font-weight:bold;}