<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BoardMapper">
	<!-- 게시글 -->
 	<select id="list" resultType="com.example.domain.BoardVO">
 		select * from tbl_board
 		order by fb_no desc;
 	</select>
 	<insert id="insert">
 		insert into tbl_board(fb_title,fb_content,fb_writer,fb_image,fb_category)
		values(#{fb_title},#{fb_content},#{fb_writer},#{fb_image},#{fb_category})
 	</insert> 	
 	<select id="read" resultType="com.example.domain.BoardVO">
 		select * from tbl_board
 		where fb_no = #{fb_no}
 	</select>
 	<update id="update">
 		update tbl_board set fb_title=#{fb_title}, fb_content=#{fb_content},
 		fb_image=#{fb_image}
 		where fb_no = #{fb_no}
 	</update>
 	<delete id="delete">
 		delete from tbl_board
 		where fb_no = #{fb_no}
 	</delete>
 	<select id="maxNo" resultType="int">
		select max(fb_no) from tbl_board
	</select>
	
	<!-- 첨부파일 -->
	<insert id="attachInsert">
		insert into tbl_board_attach(fb_ano,fb_bno)
		values(#{image},#{fb_no})
	</insert>
	<select id="attachList" resultType="string">
		select * from tbl_board_attach
		where fb_bno = #{fb_no}
	</select>
	<delete id="attachDelete">
		delete from tbl_board_attach
		where fb_ano=#{image}
	</delete>
	<delete id="attachDeleteAll">
		delete from tbl_board_attach
		where fb_bno=#{fb_no}
	</delete>
	
	<!-- 조회수 -->
	<update id="updateView">
		update tbl_board set
		fb_viewcnt = fb_viewcnt+1
		where fb_no = #{fb_no}
	</update>
	
	<!-- 댓글 -->
	<select id="replyList" resultType="com.example.domain.BoardReplyVO">
		select * from tbl_board_reply
		where fb_bno = #{fb_bno}
		order by fb_rno desc
	</select>
	<insert id="replyInsert">
		insert into tbl_board_reply(fb_bno,fb_reply,fb_replyer)
		values (#{fb_bno},#{fb_reply},#{fb_replyer});
	</insert>
</mapper>