<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CampingMapper">
	<!-- 유저 메인 페이지 지역, 날짜 조건 캠핑장 목록 -->
	<select id="campSearchList" resultType="hashmap">
		SELECT 
	    *
		FROM
	    (SELECT 
	        c.*, reserve_cnt
	    FROM
	        (SELECT 
	        *
	    FROM
	        view_camp_sql
	    WHERE
	        camp_addr LIKE concat('%',#{camp_addr},'%')) c
	    LEFT JOIN (SELECT 
	        camp_id, COUNT(*) reserve_cnt
	    FROM
	        tbl_camp_reserve
	    WHERE
	        (reser_checkin BETWEEN #{reser_checkin} AND #{reser_checkout})
	            OR (reser_checkout BETWEEN #{reser_checkin} AND #{reser_checkout})
	            OR (reser_checkin <![CDATA[<]]> #{reser_checkin}
	            AND reser_checkout <![CDATA[<]]> #{reser_checkout})
	    GROUP BY camp_id) r ON c.camp_id = r.camp_id) tbl
	<if test="facility_no!=null">
	WHERE
	    camp_id IN (SELECT 
	            camp_id
	        FROM
	            view_facility
	        WHERE
	            facility_no IN 
	            <foreach collection="facility_no" item="arr" open="(" close=")" separator=",">
            		#{arr}
         		</foreach>
	        GROUP BY camp_id
	        HAVING COUNT(*) = #{listSize})
	        AND camp_id IN (SELECT 
	            camp_id
	        FROM
	            view_style
	        WHERE
	            style_no = #{style_no})
	</if>
	ORDER BY camp_id desc;
	</select>
	<!-- 특정 날짜에 특정 캠핑장에 예약가능한 캠핑장 스타일 목록 -->
	<select id="campAvailableReser" resultType="hashmap">
	select c.*,r.* from
    (select tcs.camp_id,tcs.style_no,tcs.style_qty,tcs.style_price,tsn.style_name from tbl_camp_style as tcs, tbl_style_name as tsn where tcs.camp_id=#{camp_id} and tcs.style_no=tsn.style_no) c
    left join
	(select  *,count(camp_room_no) as reser_count
    from tbl_camp_reserve
    where camp_id=#{camp_id} and(
			(reser_checkin between #{reser_checkin} and #{reser_checkout}) 
         or (reser_checkout between  #{reser_checkin} and #{reser_checkout}) 
		 or (reser_checkin <![CDATA[<]]> #{reser_checkin} and reser_checkout <![CDATA[>]]> #{reser_checkout}) ) group by camp_room_no) r on c.style_no=right(r.camp_room_no,1) order by c.camp_id desc
	</select>
	<!-- 관리자 페이지 캠핑장 목록 -->
 	<select id="campList" resultType="com.example.domain.CampingVO">
 		select * from tbl_camp_list
 		<if test="searchType=='camp_id'">
			where camp_id like concat('%',#{keyword},'%')
			order by camp_id desc
			limit #{pageStart},#{perPageNum}
		</if>
		<if test="searchType=='camp_name'">
			where camp_name like concat('%',#{keyword},'%')
			order by camp_id desc
			limit #{pageStart},#{perPageNum}
		</if>
		<if test="searchType=='camp_addr'">
			where camp_addr like concat('%',#{keyword},'%')
			order by camp_id desc
			limit #{pageStart},#{perPageNum}
		</if>
 	</select>
 	<!-- 캠핑장 시설명 리스트 -->
 	<select id="campFacilityList" resultType="com.example.domain.CampingFacilityVO">
 		select * from tbl_facility_name
 	</select>
 	<!-- 캠핑장 스타일명 리스트 -->
 	<select id="campStyleList" resultType="com.example.domain.CampingStyleVO">
 		select * from tbl_Style_name
 	</select>
 	<!-- 캠핑장 정보 페이지 -->
 	<select id="campRead" resultType="com.example.domain.CampingVO">
 		select * from tbl_camp_list where camp_id=#{camp_id}
 	</select>
 	<!-- 특정 캠핑장 스타일 정보 읽어오기 -->
 	<select id="campStyleRead" resultType="com.example.domain.CampingVO">
 		select camp_id,style_name,style_qty,style_price from tbl_camp_style as cs, tbl_style_name as sn
		where cs.style_no = sn.style_no and camp_id=#{camp_id};
 	</select>
 	<!-- 특정 캠핑장 시설 정보 읽어오기 -->
 	<select id="campFacilityRead" resultType="com.example.domain.CampingVO">
		select camp_id,cf.facility_no,facility_name from tbl_camp_facility as cf, tbl_facility_name as fn
		where cf.facility_no = fn.facility_no and camp_id=#{camp_id};
 	</select>
 	<!-- 캠핑장 등록시 camp_id 최대값 읽어오기 -->
 	<select id="maxCode" resultType="string">
 		select max(camp_id) from tbl_camp_list
 	</select>
 	<!-- 캠팡정 둥록 -->
 	<insert id="campInsert">
 		insert into tbl_camp_list(camp_id,camp_name,camp_maker,camp_addr,camp_tel,camp_detail,camp_memo,camp_image,camp_status)
 		values(#{camp_id},#{camp_name},#{camp_maker},#{camp_addr},#{camp_tel},#{camp_detail},#{camp_memo},#{camp_image},default)
 	</insert>
 	<!-- 특정 캠핑장 시설목록 등록 -->
 	<insert id="campFacilityInsert">
 		insert into tbl_camp_facility(camp_id,facility_no)
 		values(#{camp_id},#{facility_no})
 	</insert>
 	<!-- 특정 캠핑장 스타일목록 등록 -->
 	<insert id="campStyleInsert">
 		insert into tbl_camp_style(camp_id,style_no,style_qty,style_price)
 		values(#{camp_id},#{style_no},#{style_qty},#{style_price})
 	</insert>
 	<!-- 총 캠핑장 갯수 -->
 	<select id="campTotcount" resultType="int">
		select count(*) from tbl_camp_list
		<if test="searchType=='camp_id'">
			where camp_id like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='camp_name'">
			where camp_name like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='camp_addr'">
			where camp_addr like concat('%',#{keyword},'%')
		</if>
	</select>
	<!-- 캠핑장 예약 -->
	<insert id="campReservationCheckoutInsert">
		insert into tbl_camp_reserve(camp_id,camp_room_no,reser_status,reser_checkin,reser_checkout,uid,reser_man_qty,reser_booker,reser_booker_phone,reser_price,reser_date)
		values(#{camp_id},#{camp_room_no},'1',#{reser_checkin},#{reser_checkout},#{uid},4,#{reser_booker},#{reser_booker_phone},#{reser_price},#{reser_date});
	</insert>
	<!-- 캠핑장 정보 수정 -->
	<update id="campUpdate">
		update tbl_camp_list set camp_name=#{camp_name},camp_maker=#{camp_maker},camp_addr=#{camp_addr},camp_status=#{camp_status},camp_tel=#{camp_tel},camp_memo=#{camp_memo},camp_detail=#{camp_detail},camp_image=#{camp_image}
		where camp_id=#{camp_id}
	</update>
	<!-- 특정 캠핑장 기존 스타일 삭제 -->
	<delete id="campStyleDelete">
		delete from tbl_camp_style where camp_id=#{camp_id}
	</delete>
	<!-- 특정 캠핑장 기존 시설목록 삭제 -->
	<delete id="campFacilityDelete">
		delete from tbl_camp_facility where camp_id=#{camp_id}
	</delete>
	<!-- 특정 유저가 예약한 캠핑장 목록 확인 -->
	<select id="campReservationUser" resultType="com.example.domain.CampingReserVO">
		select tcm.*,tcl.camp_name,tcl.camp_addr,tcl.camp_image,tcl.camp_tel from tbl_camp_reserve as tcm, tbl_camp_list as tcl where uid=#{uid} and tcm.camp_id=tcl.camp_id
	</select>
</mapper>