<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TipMapper">
 	<select id="list" resultType="hashmap">
 		select * from tbl_information_tip
 		<if test="searchType == 'all'">
 			where tip_title like concat("%", #{keyword}, "%") || tip_content like concat("%", #{keyword}, "%")
 		</if>
 		<if test="searchType == 'title'">
 			where tip_title like concat("%", #{keyword}, "%")
 		</if>
 		<if test="searchType == 'content'">
 			where tip_content like concat("%", #{keyword}, "%")
 		</if>
 		order by tip_no desc
 		limit #{pageStart},#{perPageNum}
 	</select>
 	<select id="mainPage_tip_list" resultType="com.example.domain.TipVO">
 		select* from tbl_information_tip
 		order by tip_no desc
 		limit 0, 10
 		
 	</select>
 	<select id="read" resultType="com.example.domain.TipVO">
 		select * from tbl_information_tip
 		where tip_no=#{tip_no}
 	</select>
 	<insert id="insert">
 		insert into tbl_information_tip(tip_title,tip_content,tip_image,tip_writer)
 		values(#{tip_title},#{tip_content},#{tip_image},#{tip_writer})
 	</insert>
 	<delete id="delete">
 		delete from tbl_information_tip
 		where tip_no=#{tip_no}
 	</delete>
 	<update id="update">
 		update tbl_information_tip
 		set tip_title=#{tip_title}, tip_content=#{tip_content}, tip_image=#{tip_image}
 		where tip_no=#{tip_no}
 	</update>
 	<select id="totalCount" resultType="int">
 		select count(*) from tbl_information_tip
 		<if test="keyword != null">
 			where tip_title like concat("%", #{keyword}, "%") || tip_content like concat("%", #{keyword}, "%")
 		</if>
 	</select>
 	<select id="maxNo" resultType="int">
 		SELECT AUTO_INCREMENT FROM information_schema.tables WHERE table_name = 'tbl_information_tip'
 		AND table_schema = 'team1db'
 	</select>
 	 	
 	<update id="updateView">
 		update tbl_information_tip
 		set tip_viewcnt=tip_viewcnt+1
 		where tip_no=#{tip_no}
 	</update>
 	
 	<!-- 첨부파일 -->
 	<select id="att_list" resultType="string">
 		select tip_ano from tbl_information_tip_attach
 		where tip_bno=#{tip_no}
 	</select>
 	<insert id="att_insert">
 		insert into tbl_information_tip_attach(tip_ano, tip_bno)
 		values(#{image}, #{tip_no})
 	</insert>
 	<delete id="att_delete">
 		delete from tbl_information_tip_attach
 		where tip_ano=#{image}
 	</delete>
 	<delete id="att_deleteAll">
		delete from tbl_information_tip_attach
		where tip_bno=#{tip_no}
	</delete>
 	
 	<!-- 좋아요 업데이트 -->
 	<select id="likeIt" resultType="int">
		select count(*) from tbl_information_tip_like 
		where tip_lk_uid=#{uid} and tip_lk_bno=#{tip_no};
	</select>
 	<insert id="likeInsert">
 		insert into tbl_information_tip_like(tip_lk_uid, tip_lk_bno)
 		values(#{uid}, #{tip_no})
 	</insert>
 	<select id="likeCheck" resultType="int">
		select tip_lk_chk from tbl_information_tip_like 
		where tip_lk_uid=#{uid} and tip_lk_bno=#{tip_no};
	</select>
	<update id="likeUpdate">
		update tbl_information_tip set tip_like=(select sum(tip_lk_chk)
													from tbl_information_tip_like
													where tip_lk_bno=#{tip_no})
		where tip_no=#{tip_no}
	</update>
 	<update id="like">
 		update tbl_information_tip_like set
 		<if test="likeCheck==0">
 			 tip_lk_chk=1
 		</if>
 		<if test="likeCheck==1">
 			 tip_lk_chk=0
 		</if>
 		where tip_lk_uid=#{uid} and tip_lk_bno=#{tip_no};
 	</update>
 	<delete id="likeDel">
 		delete from tbl_information_tip_like 
 		where tip_lk_bno=#{tip_no}
 	</delete>
 	
</mapper>