<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
 	<select id="login" resultType="com.example.domain.UserVO">
 		select * from tbl_user
 		where uid=#{uid}
 	</select>
 	<insert id="join">
		insert into tbl_user(uid,upass,umail,uname,tel,address)
		values(#{uid},#{upass},#{umail},#{uname},#{tel},#{address})
	</insert>
</mapper>
